<script setup lang="ts">
import BMIView from './components/BMIView.vue'

// import DeclarativeRendering from './components/DeclarativeRendering.vue'
// import AttributeBindings from './components/AttributeBindings.vue'
// import EventListeners from './components/EventListeners.vue'
// import FormBindings from './components/FormBindings.vue'
// import ConditionalRendering from './components/ConditionalRendering.vue'
// import ListRendering from './components/ListRendering.vue'
</script>
<template>
  <BMIView />

  <!-- <ListRendering />
  <ConditionalRendering />
  
  <h1>Hello World</h1>
  <DeclarativeRendering />
  <AttributeBindings />
  <EventListeners />
  <FormBindings /> -->
</template>